/*

!.gitignore
!README.md
!LICENSE
!AGENTS.md
!/docs/

!.github/
!.gitea/

!.envrc

!.sops.yaml

!/flake.nix
!/flake.lock

!/shells/
!/flake/
!/overlays/

!/images/
!/secrets/

!/windows/

!/hosts/
!/libs/
!/modules/

!/tests/
!/skills/
