/*
**/__pycache__/
*.py[cod]

!.gitignore
!README.md
!LICENSE
!AGENTS.md
!/docs/

!/.codex/
!/.github/
!.gitea/
!/.vscode/

!.envrc

!.sops.yaml

!/flake.nix
!/flake.lock
!/opencode.json

!/scripts/
!/shells/
!/flake/
!/overlays/

!/images/
!/secrets/

!/windows/

!/hosts/
!/libs/
!/modules/

!/tests/
!/skills/
