/*

!.gitignore
!README.md
!LICENSE
!AGENTS.md

!.github/

!.envrc

!.sops.yaml

!/flake.nix
!/flake.lock
!/renovate.json

!shells/
!hosts/
!overlays/
!profiles/
!modules/
!docs/
!images/
!secrets/

!/flake/
